<h2>Question 1.</h2>
{% section 'q1-homepage-text' %}
<h2>Question 2.</h2>
<a href="/collections/shirts">> Collection page</a>
<h2>Question 3.</h2>
{% include 'q3-pagenation' %}
<h2>Question 4.</h2>
{% include 'q4-access' %}
<h2>Question 5.</h2>
{% include 'q5-loop' %}